<!DOCTYPE html>
<html>
  <head>
    <title>BR1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %> 
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="icon" href="/ファビコン.png" type="image/png">
  </head>

  <body>
    <%# ヘッダーを表示、全ページで共通のレイアウトを定義 %>
    <%= render 'shared/header' %>
    <%= yield %>
    <%# フッターを表示、全ページで共通のレイアウトを定義 %>
    <%= render 'shared/footer' %>
  </body>
</html>
